<div class='h-full flex flex-col'>
  <div class='w-full h-full flex justify-center items-center font-semibold text-[18px] border-b-2 pb-2'>
    Danh sách bảng quảng cáo
  </div>
  <div class='h-full px-4 hfull overflow-y-auto'>
    {{#each this.list}}
      <div class='flex flex-col -mx-3 -my-4 py-3 px-4 text-[#014361] mb-6 rounded-lg shadow border-2'>
        <div class='flex flex-col'>
          <div class='font-semibold'>
            {{LoaiBangQC}}
          </div>
          <div>
            {{DiaChi}},
            {{KhuVuc}}
          </div>
        </div>
        <div class='flex flex-col'>
          <div>
            Kích thước:
            {{KichThuoc}}
          </div>
          <div>
            Số lượng:
            {{SoLuong}}
          </div>
          <div>
            Hình thức:
            {{HinhThucQC}}
          </div>
          <div>
            Phân loại:
            {{info.LoaiViTri}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>