<div class='w-full py-4 flex flex-row gap-4 justify-center items-start'>
  <div class='-ml-20'>
    <h1 class='mt-2 mb-1 text-2xl'>Quận</h1>
    <table class='w-full bg-white border border-gray-300 rounded shadow-lg overflow-hidden'>
      <thead>
        <tr>
          <th class='py-2 px-4 border-b'>Quận</th>
          <th class='p-2 w-[200px] border-b'>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {{#each districtsList}}
          <tr class='border-b'>
            <td class='py-2 px-4 text-center'>{{this.Name}}</td>
            <td class='p-2 flex justify-center items-center'>
              <form action='/so/statistics-district/{{this.ID}}' method='GET'>
                <button type='submit' class='text-blue-500 p-1'>Xem</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div>
    <h1 class='mt-2 mb-1 text-2xl'>Phường</h1>
    <table class='w-[120%] bg-white border border-gray-300 rounded shadow-lg overflow-hidden'>
      <thead>
        <tr>
          <th class='py-2 px-4 border-b'>Quận</th>
          <th class='py-2 px-4 border-b'>Phường</th>
          <th class='py-2 w-[200px] border-b'>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {{#each wardsList}}
          <tr class='border-b'>
            <td class='py-2 px-4 text-center'>{{this.DistrictName}}</td>
            <td class='py-2 px-4 text-center'>{{this.Name}}</td>
            <td class='p-2 flex justify-center items-center'>
              <form action='/so/statistics-ward/{{this.ID}}' method='GET'>
                <button type='submit' class='text-blue-500 p-1'>Xem</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>