<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800"
    >
      Điểm đặt quảng cáo
    </caption>
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Loại Bảng
        </th>
        <th scope="col" class="px-6 py-3">
          Địa chỉ
        </th>
        <th scope="col" class="px-6 py-3">
          Khu Vực
        </th>
        <th scope="col" class="px-6 py-3">
          Loại vị trí
        </th>
        <th scope="col" class="px-6 py-3">
          Hình thức
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Action</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if this.empty}}
      <div class="card-body">
        Không có dữ liệu
      </div>
      {{else}}
        {{#each this.list}}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{list.Id}}
            </th>
            <td class="px-6 py-4">
              {{LoaiBangQC}}
            </td>
            <td class="px-6 py-4">
              {{DiaChi}}
            </td>
            <td class="px-6 py-4">
              {{KhuVuc}}
            </td>
            <td class="px-6 py-4">
              {{positionInfo.LoaiViTri}}
            </td>
            <td class="px-6 py-4">
              {{positionInfo.HinhThucQC}}
            </td>
            <td class="px-6 py-4 text-right">
              <a
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Xem chi tiết</a>
            </td>
          </tr>
        {{/each}}
        {{/if}}
    </tbody>
  </table>
</div>