<div class="bg-white p-4 shadow-md rounded-md">
  <h1 class="text-xl font-semibold mb-4">Statistic A Specific Place </h1>

  <div class="mb-4">
    <span class="font-semibold">Name</span>
    <span>{{locationName}}</span>
  </div>

  <div class="mb-4">
    <span class="font-semibold">Date Created</span>
    <span>{{dataCreated}}</span>
  </div>

  <div class="mb-4">
    <span class="font-semibold">Action</span>
    <span>{{action}}</span>
  </div>

  <div class="mb-4">
    <span class="font-semibold">Date Updated</span>
    <span>{{dateUpdated}}</span>
  </div>

  <div class="mb-4">
    <span class="font-semibold">Solution</span>
    <span>{{solution}}</span>
  </div>

  <div class="flex space-x-4">
    <form aciton="" method="">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md"
      >Back</button>
    </form>
  </div>
</div>